/* 
    #EE5A24 principal 
    #EA2027 segundario
    #F79F1F complementario
 */


/* font-family: 'Playfair Display', serif;
font-family: 'Source Sans Pro', sans-serif; */

body {
    font-size: 100%;
    /* 100% = 16px */
    position: relative;
    font-family: 'Source Sans Pro', sans-serif;
}

.letra4 {
    font-size: 1.25rem;
}

.letra3 {
    font-size: 1.5rem;
}

.letra1 {
    font-family: 'Playfair Display', serif;
    color: #f79f1f;
}

.letra2 {
    font-family: 'Playfair Display', serif;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.541);
    color: #ee5a24;
}

.h1 {
    font-style: oblique;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.541);
    color: white;
    font-size: 4rem;
}

.bg-oscuro {
    background: #000000eb;
}


/* start Header */

.site-header {
    width: 100%;
}

header {
    width: 100%;
    z-index: 13;
}

.site-header a {
    color: white;
}

.container-nav {
    justify-content: space-between;
}

.container-nav ul li a:hover {
    color: #f79f1f !important;
    border-bottom: 1px solid #f79f1f;
}

.telefono {
    border-radius: 0px 10px 10px 10px;
    box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.507);
    cursor: pointer;
}

.telefono i {
    background-color: #ee5a24;
    padding: 11px;
    border: solid #ee5a24 2px;
    border-radius: 10px 0px 0px 0px;
}

.telefono span {
    padding: 9px;
    border: solid #ee5a24 2px;
    border-radius: 0px 10px 10px 0px;
    transition: all 300ms ease;
}

.telefono span:hover {
    background-color: #ee5a24;
}

.telefono a:hover {
    text-decoration: none;
}


/* end header */


/* start main */

.perritos {
    color: #fff;
    background: url('../img/bnn-gato.jpg'), linear-gradient(to right, #dbd25a1f, rgba(235, 23, 8, 0.11));
    background-blend-mode: multiply;
    background-position: center center;
    background-size: cover;
    width: 100%;
    height: 65vh;
    overflow: hidden;
    box-shadow: inset 0 0 0 1000px rgba(177, 145, 145, 0.13);
    transition: background 100ms ease-in;
    z-index: -1;
}

.shadow-box {
    box-shadow: 2px 3px 7px 2px grey;
}


/* carrusel */

.carousel-indicators {
    z-index: 1;
}

.carousel-item img {
    max-height: 670px;
}

.carousel-caption {
    z-index: 0;
    width: 70%;
    margin: 0 auto;
    background-color: #413c3c6e;
}

.carousel-small {
    max-height: 600px;
    min-width: auto;
    padding: 0;
    box-shadow: 2px 3px 7px 2px grey;
}

.carousel-big {
    max-height: 600px;
    min-width: auto;
    box-shadow: 2px 3px 7px 2px grey;
}

.size-t {
    font-size: 2rem;
}

.carousel-item img {
    max-height: 600px;
}

.pets {
    font-size: 3rem;
    color: #ea2027;
}

.perritos0 {
    background: url('../img/01.jpg'), linear-gradient(to right, #dbd25a1f, rgba(235, 23, 8, 0.11));
}

.perritos2 {
    background: url('../img/02.jpg'), linear-gradient(to right, #dbd25a1f, rgba(235, 23, 8, 0.11));
}

.perritos3 {
    background: url('../img/03.jpg'), linear-gradient(to right, #dbd25a1f, rgba(235, 23, 8, 0.11));
}

.perritos4 {
    background: url('../img/perritos2.png'), linear-gradient(to right, #dbd25a1f, rgba(235, 23, 8, 0.11));
}

.contenedor-carrusel {
    color: #fff;
    background-blend-mode: multiply;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    box-shadow: inset 0 0 0 1000px rgba(177, 145, 145, 0.13);
    transition: background 100ms ease-in;
}


/* end carrusel */

.padding-text {
    padding: 70px;
}

.btn-div {
    text-align: left;
}

.huellas {
    background-image: url(../img/bg-huellas2.jpg);
    background-position: center center;
}

.seccion {
    background-color: white;
    margin-top: 0 !important;
    margin: 0 15px;
}

.bg-grey {
    background-color: rgb(236, 236, 236);
    padding: 15px;
}

.size-t {
    font-size: 2rem;
}

.menos-margin {
    margin-top: -70px;
}

.btn {
    box-shadow: 0 0 0 3em #ee5a24 inset;
    color: #ffffff;
    transition: all 300ms ease;
    border: none;
    border-radius: 0;
    width: 10rem;
    padding: 10px;
    font-size: 1.25rem;
}

.btn-negro:hover {
    color: black;
}

.btn:hover {
    box-shadow: 0 0 0 2px #ee5a24 inset;
    background-color: transparent;
}

.row {
    margin-left: 0px;
    margin-right: 0px;
}


/* end main */


/* start footer  */

footer {
    box-shadow: 2px 3px 7px 2px grey;
}

footer div p a:hover {
    color: #f79f1f !important;
    text-decoration: none;
}

footer a {
    color: black;
}

.iconos i {
    padding: 10px;
    font-size: 1.5rem;
}

.ico:hover {
    color: #f79f1f;
}

.fa-facebook-f {
    color: #3b5998;
    text-shadow: 2px 2px 2px #000000;
}

.fa-twitter {
    color: #00acee;
    text-shadow: 2px 2px 2px #000000;
}

.fa-instagram {
    color: #e1306c;
    text-shadow: 1px 1px 1px #000000;
}

.bg-white2 {
    background-color: rgb(255, 255, 255);
    font-weight: 500;
    box-shadow: 2px;
}

.margin-top {
    /* margin-top: 10px; */
    background-color: rgba(0, 0, 0, 0.301);
}

.bg-white2 a:hover {
    color: #f79f1f !important;
    text-decoration: none;
}

.btn-outline-secondary:not(:disabled):not(.disabled).active,
.btn-outline-secondary:not(:disabled):not(.disabled):active,
.show>.btn-outline-secondary.dropdown-toggle {
    color: #fff;
    background-color: #f79f1f;
    border-color: #f79f1f;
}

.btn-outline-secondary.focus,
.btn-outline-secondary:focus {
    box-shadow: 0 0 0 0.2rem #ee5a24;
    color: #ee5a24;
}

.btn-secondary.focus,
.btn-secondary:focus {
    box-shadow: 0 0 0 0.2rem #ee5a24;
    color: white;
    background-color: transparent;
}

.btn-secondary:not(:disabled):not(.disabled).active,
.btn-secondary:not(:disabled):not(.disabled):active,
.show>.btn-secondary.dropdown-toggle {
    color: #fff;
    background-color: #f79f1f;
    border-color: #f79f1f;
}

.bg-trans {
    background-color: transparent;
}

.card {
    border: 0px solid black;
}

.error {
    border: solid 1px red;
}


/* end footer */

@media (max-width: 500px) {
    .padding-text {
        padding: 10px;
        margin-bottom: 10px;
    }
    .carousel-caption {
        z-index: 0;
        width: 100%;
        margin: 0 auto;
        right: 1px;
        left: 1px;
        background-color: #413c3c6e;
    }
    .btn-div {
        text-align: center;
    }
    .seccion {
        margin: 0;
    }
    .margin-top {
        margin-top: 40px;
        background-color: rgba(0, 0, 0, 0.301);
    }
    .perritos {
        background-position: 40rem;
    }
    .h1 {
        font-size: 3.2rem;
    }
    .perritos0 {
        background-position: -34rem;
    }
}

@media (min-width: 992px) {
    .margin-top {
        margin-top: 100px;
    }
}

@media (min-width: 1500px) {
    .seccion {
        max-width: 1400px;
        margin: 0 auto;
    }
}